.App{
  display: flex;
  margin-left: 40px;
}

.mainContainer, .header, .aboutContainer{
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
}

.header{
  margin-bottom: 30px;
}

.aboutContainer{
  width: 80%;
  margin-top: 30px;
  margin-bottom: 40px;
  border-top: 1px solid #282c34;
}

.header h1, .aboutContainer h3{
  color: #282c34;
}


.controlsContainer,
.generationContainer{
  display: flex;
  text-align: center;
  width: 200px;
  padding: 20px 20px 0 20px;
  margin-left: 40px;
}

.label{
  display: flex;
  margin-bottom: 20px;
  margin-right: 10px;
}

.input{
  margin-left: 5px;
}

.boardContainer{
  display: flex;
  flex: 1;
  justify-content: left;
  padding: 0 60px;
}

.controlButtons{
  display: flex;
  justify-content: space-between;
  width: 20%;
  padding: 0 20px 20px;
  margin-left: 40px;
  
}

.cellContainerDead{
  display: flex;
  flex: 1;
  padding: 10px;
  margin: 1px;
  border: 1px solid lightgray;
  background-color: lightgray;
}

.cellContainerLive{
  display: flex;
  flex: 1;
  padding: 10px;
  margin: 1px;
  border: 1px solid green;
  background-color: green;
}