.root{
  background-color: #F0EDEE;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Bebas Neue', cursive;
}
.App{
  display: flex;
  margin-left: 40px;
  }


.mainContainer{
  display: flex;
  flex-direction: row;
  flex: 1;
  text-align: left;
}

.header, .aboutContainer{
  flex-direction: column;
  }

.header{
  margin-right: 50px;
}

.mainAboutContainer{
  margin-left: 50px;
  padding-left: 50px;
  width: 45%;
   
}

.header h1, .aboutContainer h3{
  color: #07393C;
}

p, .label {
  color: #2C666E;
  font-family: 'Poppins', sans-serif;
}

.controlsContainer,
.generationContainer{
  display: flex;
  text-align: center;
  width: 200px;
  /* padding: 20px 20px 0 20px; */
  /* margin-left: 40px; */
}

.label{
  margin-bottom: 20px;
  margin-right: 10px;
}

.input{
  margin-left: 5px;
}

.boardContainer{
  display: flex;
  flex: 1;
  justify-content: left;
  padding: 0 60px;
}

.controlButtons{
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.cellContainerDead{
  display: flex;
  flex: 1;
  padding: 10px;
  margin: 1px;
  border: 1px solid lightgray;
  background-color: lightgray;
}

.cellContainerLive{
  display: flex;
  flex: 1;
  padding: 10px;
  margin: 1px;
  border: 1px solid green;
  background-color: green;
}